#webApp {
    background: rgb(0,150,136);
    background: linear-gradient(to bottom, rgb(0,150,136) 15%, rgb(218,219,211) 15%);
}

#chat-top,
#chat-bottom {
    height: 9%;
}

#chat-middle {
    height: 82%;
    background-image: url('../../img/mine.jpg');
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-size: contain; */
}

#webApp-left #user,
#chat-top {
    height: 9%;
    background-color: #eaeaea;
}

#webApp-left #notifications {
    height: 9%;
    background-color: #8edafc;
}

#webApp-left #findChat {
    height: 6%;
    background-color: #fafafa;
}

#webApp-left #findChat input {
    line-height: 1;
}

#webApp-left #allChat {
    height: 76%;
}

#allChat .conversation {
    height: 12%;
    cursor: pointer;
}

.conversation p,
#allChat .conversation > span,
#webApp-left #notifications a {
    font-size: 0.8rem;
}

#chat-bottom {
    background-color: #f3eeea;
}

#chat-bottom #emoticons,
#chat-bottom #microphone {
    width: 12%;
    cursor: pointer;
}

#chat-bottom #text-message {
    width: 76%;
}

#chat-bottom #text-message input {
    line-height: 2.3;
}

.chat-message {
    max-width: 35%;
    min-height: 10%;
}

#chat-middle .chat-message > span {
    font-size: 10px; 
}

.received-message {
    background-color: white;
}

.sent-message {
    background-color: #d5f9ba;
}

.active {
    background-color: #e9ebeb;
}

#basic-addon1,
.form-control {
    border: 0;
}

.fa-chevron-down {
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px 12px white;
    display: none;
}

.sent-message > .fa-chevron-down {
    box-shadow: 0 0 10px 12px #d5f9ba;
    background-color: #d5f9ba;
}

.received-message > .fa-chevron-down {
    box-shadow: 0 0 10px 12px white;
    background-color: white;
}

.chat-message:hover .fa-chevron-down {
    display: block;
}

#myDropDown {
    position: absolute;
    right: 0;
    top: 70%;
    z-index: 999;
    padding: 10px 5px;
    list-style-type: none;

    border-radius: 7px;
    border: 1px solid lightgray;

    background-color: white;
}

#myDropDown li {
    margin-bottom: 5px;
    padding-inline: 1.5rem;
    border-radius: 7px;

    cursor: pointer;
}

#myDropDown li:hover {
    background-color: rgb(211, 211, 211, 0.4);
}